$color1: #330524;
$color2: #795898;
$color3: #330524;
$color4: #795898;
$color5: #27003B;

.header {
    background-color: $color1;
}

.logo{
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
    
}

 .header__h1{
    font-family: 'Staatliches', cursive;
    color: $color2;
    text-align: center;
    font-size: 400%;
 }

main{
    background-color: $color4;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: $color3;
    text-align: center;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: $color3;
    text-align: center;
    
}

.parrafo1{
    font-family: 'Assistant', sans-serif;
    font-size: 100%;
    text-align: center;
}

.imagen11{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}
.imagen22{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

h4{
    font-family: 'Assistant', sans-serif;
    font-size: 100%;
    text-align: center;
}

.video{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

h5{
    text-align: center;
}

.tabla{
    text-align: center;
}

div.tabla{
    text-align: center;
}

div.tabla table{
    margin: 0 auto;
    text-align: left;
}

.politicas{
    text-align: center;
    color: white;
}

footer{
    background-color: $color1;
    text-align: right;
}

.logo1{
    width: 5%;
    height: 5%;
    margin: 0;
}

.formulario{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario input{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

.formulario button{
    padding: 0.5rem 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}